@model Company

<div class="border border-1 p-3 w-75 mx-auto">
    <h2>@(Model.Id != 0 ? "Update" : "Create") Company</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-10">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Company Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="StreetAddress" class="form-label"></label>
                    <input asp-for="StreetAddress" class="form-control" placeholder="Enter Company Address"/>
                </div>
                <div class="mb-3">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control" placeholder="Enter Company City">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="State" class="form-label"></label>
                    <input asp-for="State" class="form-control" placeholder="Enter Company State">
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <input asp-for="PostalCode" class="form-control" placeholder="Enter Company Postal Code">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter Company Phone Number">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between gap-2">
            @if (Model.Id != 0)
            {
                <button type="submit" class="btn btn-primary form-control">Update</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary form-control">Create</button>
            }

            <a asp-controller="Company" asp-action="Index" class="form-control btn btn-secondary border border-1">Back To Company List</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until May 30, 2025:
            'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}