@model Product

@{
    ViewData["Title"] = "Delete Product";
}

<div class="border border-1 p-3 w-75 mx-auto">
    <h2>Delete Product</h2>
    <form method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" placeholder="Enter Product Name" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" placeholder="Enter Product Description" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="ISBN" class="form-label"></label>
            <input asp-for="ISBN" class="form-control" placeholder="Enter Product ISBN" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label"></label>
            <input asp-for="Author" class="form-control" placeholder="Enter Product Author" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="ListPrice" class="form-label"></label>
            <input asp-for="ListPrice" class="form-control" placeholder="Enter Product List Price" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" placeholder="Enter Price for 1-50 Products" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="Price50" class="form-label"></label>
            <input asp-for="Price50" class="form-control" placeholder="Enter Price for 50+ Products" disabled>
        </div>
        <div class="mb-3">
            <label asp-for="Price100" class="form-label"></label>
            <input asp-for="Price100" class="form-control" placeholder="Enter Price for 100+ Products" disabled>
        </div>


        <div class="d-flex justify-content-between gap-2">
            <button type="submit" class="btn btn-primary form-control">Delete</button>
            <a asp-controller="Product" asp-action="Index" class="form-control btn btn-secondary border border-1">Back To Product List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}