@model List<Product>

<div>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h2>Product List</h2>
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-lg btn-primary"><i class="bi bi-plus-circle"></i> Create New Product</a>
    </div>

    <table id="tableData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}